body
{
    background: url("../src/004.jpg") center ; 
    height: 100%;
    width: 100%;
} 
header
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
#sommet
{
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 75, 75);
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 25px;
    border-radius: 0 0 40px 40px;
    
}

h1
{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    text-shadow: 20px ;
    font-size: 35px;
    width: 100%;
    height: 40px;
    background-color: rgba(178, 178, 178, 0.651);
}

#ma_photo img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
}

.blogue 
{
    display:block ;
    font-size: 22Px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif,Impact,'Arial Narrow Bold', sans-serif;
}

#liste
{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.757);
    color: rgba(1, 75, 75);
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    width: 100px;
    color: black;
}
#liste a
{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
#liste a:hover
{
    color: blue;
    background-color: aqua;
    padding: 10px;
    transform: translate(-5,-8);
}

button img
{
    width: 50px;
    height: 50px;
}

button
{
    position: absolute;
    background-color: rgba(4, 41, 29, 0.052);
    border: 0;
    right: 20px;
}
button :hover
{
    background-color: aliceblue;
}

footer
{
    position: relative;
    height: 100px;
    padding: 30px;
    width: 100%;
    background-color: rgb(1, 75, 75);
    display: flexbox;
}
footer img
{
    width: 30px;
    height: 30px;
}
footer a
{
    text-decoration: none;
    font-size: 25px;
    color: black;
    display:contents  ;
}
footer a:hover
{
    color: white;
}footer img #github
{
   background: rgb(1, 75, 75);
}
